
body {
  margin: 0;
  
}
nav {
  height: 80px;
}
.header{
  height: 50vh;
}
@media only screen and (max-width: 1200px){
  .header{height: 35vh;}
}

.bg-red{
  background-color: rgb(226, 36, 36);
}

.col4{
  background-image: url("./resources/Hero.png");
}

h1{
  color: maroon;
}
.image{
  width: 99%;
}
.divhero{
  
  background-image: url("./resources/Hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.width{
  width:450px;
}
.faq{
  /* display: flex; */
  justify-content: space-between;
}

.footer-bg{
  background-color: rgb(11, 20, 37);
}